---
import {type Pokemon} from '../types/API-pokemon'

interface Props {
  pokemonName: string
}

const {pokemonName} = Astro.props

console.log(pokemonName)

const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${pokemonName}`)
const pokemon:Pokemon = await res.json()

const fixedPokemonName = `${pokemon.name[0].toUpperCase()}${pokemon.name}`
console.log(fixedPokemonName)
---

<article class=" border">
  <a href={`/pokemon/${pokemonName}`}>
    <img class="w-24 items-center" src={pokemon.sprites?.front_default}>
    <h2>{fixedPokemonName}</h2>
  </a>
</article>